<div class="k-block">
    <button kendoButton [look]="'default'">Default Button</button>
    <button kendoButton [look]="'bare'">Bare Button</button>
    <button kendoButton [look]="'outline'">Outline Button</button>
    <button kendoButton [disabled]="true">Disable Button</button>
</div>  
<div class="k-block">
    <button kendoButton [primary]="true">Primary Button</button>
    <button kendoButton [togglable]="true">Toggle Button</button>
    <button kendoButton [icon]="'user'">Icon Button</button>
</div>
<kendo-buttongroup [width]="100" look="outline">
    <button kendoButton [icon]="'calendar'" >Calender Button</button>
    <button kendoButton [icon]="'user'" >User Button</button>
    <button kendoButton [icon]="'check'" >Check Button</button>
</kendo-buttongroup>

<button kendoButton>Button</button>